@import url(https://fonts.google
*{
    margin:0;
    padding:0;
} 

body {
 width: fit-content;
 background: #f5e7e7; 
 font-family: "Lato", sans-serif;  
 background-image: url("images/background.jpg");
 background-repeat: no-repeat;
 overflow: hidden;
 background-size: 1800px 900px;
  }
  h1{
    width: 100%;
    margin-top: 50px;
    padding-left: 110%;
    text-align: center;
    font-family:"Times New Roman";
    color: rgb(250, 250, 250);
    font-weight: 700;
  }
  .container{
    width: 380px;
    margin: 7% 120%;
    border-radius:  25px;
    background-color: rgba(0,0,0,0.1);
    box-shadow: 0 0 17px #333;
  }
.header{
    text-align: center;
    padding-top: 45px;
    padding-bottom: 50px;
}
.header h5{
    color: rgb(252, 250, 250);
    font-size: 18px;
    margin: 10px;
    padding-left: 0px;
}
.header img{
    height: 100px;
    width: 120px;
}
.header p{
    color: rgb(238, 243, 238);
    font-size: 16px;
    margin: 10px;
    padding-left: 0px;
    font-weight: 900;
}
.main{
    text-align: center; 
}
.main p{
    text-align: left;
    margin-left: 40px;
}
.main input,button{
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 40px;
    box-sizing: border-box;
    font-size: 15px;
    color: #333;
    margin-bottom: 25px;
    border-radius: 5px;
}
.main p a{
    color: #e4e1e1;
}
.main button{
    padding-left: 0;
    background-color: #83acf1;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 70px;
    margin-top: 10px;
    border-radius:  25px;
}
.main button:hover{
    box-shadow: 2px 2px 2px #55
    background-color: #7799d4;
    cursor: pointer;
}
.main input:hover{
    box-shadow: 2px 2px 2px #55
    background-color: #ddd;
    cursor: pointer;
}
.main span{
    position: relative;
}
.main i{
    position: absolute;
    left: 15px; 
    color: #333;
    font-size: 16px;
    top: 2px; 
}

#togglePassword{
    float: right;
    top: 1px;
    margin-left: 260px;
    cursor: pointer;
}














