* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


 .active{

	color: #4a8329;
  
  }


  #form_head {
    text-align: center;
    margin: 15px;
    font-size: 20px;
  }


  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-image: linear-gradient(to bottom right, rgb(58, 203, 240), rgb(178, 11, 111));
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin: 10px;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-image: linear-gradient(to bottom right, rgb(209, 241, 249), rgb(235, 114, 187));
    padding: 20px;
    width: 80vh ;
    margin: 70px auto;
    
  }




  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }



  /* ******Responsive********* */


 


  
 
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
  
   
    }

    .container{
      width: 60vh;
    }
    

  


   

  }




  

		/* *****************top************* */

		*{
			margin: 0;
			padding: 0;
			background: rgb(244, 241, 244);
			font-family: Arial, Helvetica, sans-serif;
		}
		img{
		  height: 100px;
		  width: 100px;
		  float: left;
		}
		.bup{
		  color: #4a8329;
		  font-size: 20px;
		  line-height: 80px;
		  padding: 0 20px;
		  font-weight: bold;
		}
		
		.loginstatus{
		  display: block;
		  margin-top: 1px;
		  float: right;
		  text-align: right;
		  font-size: 12px;
		}
		.logoutStyle {
		  cursor: pointer;
		  display: inline-block;
		  width: 40px;
		  text-align: right;
		  color: #5d5d5d;
		  text-decoration: none;
		  text-decoration-line: none;
		  text-decoration-thickness: initial;
		  text-decoration-style: initial;
		  text-decoration-color: initial;
		}
		#ctl00_imgAvatar {
		  float: right;
		  width: 60px;
		  height: 60px;
		  padding: 3px;
		  border: 1px solid #007F3D;
		  border-radius: 100%;
		  border-top-left-radius: 100%;
		  border-top-right-radius: 100%;
		  border-bottom-right-radius: 100%;
		  border-bottom-left-radius: 100%;
		  margin-top: 1px;
		  margin-left: 5px;
		}
		.header {
			min-height: 100vh;
			width: 100%;
		  }
		nav {
		display: flex;
		margin-top: 50px;
		padding: 0.4% 2.2%;
		justify-content: space-between;
		align-items: center;
		}
		.nav-links {
			flex: 1;
			text-align: center;
		  }
		  .nav-links ul li {
			list-style: none;
			display: inline-flex;
			list-style-type: none;
			padding: 4px 60px;
			font-weight: 600;
			position: relative; 
		  }
		  .nav-links ul li a {
			background: rgb(245, 245, 245);
			text-decoration: none;
			font-size: 14px;
			line-height: 50px;
			position: relative;
			z-index: 1;
			display: inline-block;
		  }
		  a:nth-child(1){
			width: 100px;
		  }
		  .nav-links ul li a:hover {
			color: #168e46;
			transition: 0.5s;
		  }
		
		  .line{
			width: 99.8%;
			color: green;
		  }

		  .container{

			margin-top: -500px;
		  }
		


  


   

  
