*{
    margin: 0;
    padding: 0;
    background: rgb(244, 241, 
    font-family: Arial, Helveti
}
img{
  height: 100px;
  width: 100px;
  float: left;
}
.bup{
  color: #4a8329;
  font-size: 20px;
  line-height: 80px;
  padding: 0 20px;
  font-weight: bold;
}

.loginstatus{
  display: block;
  margin-top: 1px;
  float: right;
  text-align: right;
  font-size: 12px;
}
.logoutStyle {
  cursor: pointer;
  display: inline-block;
  width: 40px;
  text-align: right;
  color: #5d5d5d;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-thickness: in
  text-decoration-style: initia
  text-decoration-color: initia
}
#ctl00_imgAvatar {
  float: right;
  width: 60px;
  height: 60px;
  padding: 3px;
  border: 1px solid #007F3D;
  border-radius: 100%;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%
  border-bottom-right-radius: 1
  border-bottom-left-radius: 10
  margin-top: 1px;
  margin-left: 5px;
}
.header {
    min-height: 100vh;
    width: 100%;
  }
nav {
display: flex;
margin-top: 50px;
padding: 0.4% 2.2%;
justify-content: space-between;
align-items: center;
}
.nav-links {
    flex: 1;
    text-align: center;
  }
  .nav-links ul li {
    list-style: none;
    display: inline-flex;
    list-style-type: none;
    padding: 4px 60px;
    font-weight: 600;
    position: relative; 
  }
  .nav-links ul li a {
    background: rgb(245, 245, 
    text-decoration: none;
    font-size: 14px;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
  }
  a:nth-child(1){
    width: 100px;
  }
  .nav-links ul li a:hover {
    color: #168e46;
    transition: 0.5s;
  }

  .line{
    width: 99.8%;
    color: green;
  }
