*{
    margin: 0;
    padding: 0;
    background: rgb(244, 241, 244);
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    min-height: 100vh;
    width: 100%;
  }
nav {
display: flex;
padding: 0.5% 6%;
justify-content: space-between;
align-items: center;
}
.nav-links {
    flex: 1;
    text-align: center;
  }
  .nav-links ul li {
    list-style: none;
    display: inline-flex;
    padding: 4px 60px;
    font-weight: 600;
    position: relative;
  }
  .nav-links ul li a {
    color: rgb(93, 90, 90);
    text-decoration: none;
    font-size: 13px;
  }
  .nav-links ul li a:hover {
    background: #e9d9d9;
    margin: 10px;
    padding: 10px;
    transition: 0.5s;
  }

  .line{
    color: green;
  }